.App{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  /* background-color: rgb(203, 245, 231); */
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width:100%;
  position: relative;
}
.heading{
  margin-top: 1rem;
  align-items: center;
  text-align: center;
}